{% extends 'layouts/user.html.twig' %}

{% block title %}
	Catalogue des Séances
{% endblock %}

{% block stylesheets %}
	<link href="{{asset('templateAssets/libs/selectize/css/selectize.bootstrap3.css')}}" rel="stylesheet" type="text/css"/>
	<link href="{{asset('templateAssets/libs/flatpickr/flatpickr.min.css')}}" rel="stylesheet" type="text/css"/>
	<link href="{{asset('templateAssets/libs/dropify/css/dropify.min.css')}}" rel="stylesheet" type="text/css"/>
	<link href="{{asset('templateAssets/libs/ion-rangeslider/css/ion.rangeSlider.min.css')}}" rel="stylesheet" type="text/css"/>


	<link rel="stylesheet" type="text/css" href="{{asset('css/session.css')}}"/>
	<link rel="stylesheet" type="text/css" href="{{asset('css/sessionForm.css')}}"/>

{% endblock %}

{% block javascripts %}
	<script src="{{asset('templateAssets/libs/flatpickr/flatpickr.min.js')}}" defer></script>
	<script src="{{asset('templateAssets/libs/ion-rangeslider/js/ion.rangeSlider.min.js')}}" defer></script>
	<script src="{{asset('templateAssets/libs/selectize/js/standalone/selectize.min.js')}}" defer></script>
	<script src="{{asset('templateAssets/libs/bootstrap-maxlength/bootstrap-maxlength.min.js')}}" defer></script>
	<script src="{{asset('templateAssets/libs/dropify/js/dropify.min.js')}}" defer></script>


	<script src="{{asset('js/session/session.js')}}" type="module" defer></script>

{% endblock %}


{% block main %}
	{{component('sessionForm',{"courses":courses})}}

	{% if alert.show %}
		{{component('alertModal',{'isSuccess':alert.state})}}
	{% endif %}

	{{component('confirmDeleteModal')}}


	<div class="section pt-0">

		<div class="session-image">
			<img src="{{asset(session.imageLink)}}">
		</div>

		<div class="header">
			<h1>
				<span>Créateur :</span>
				{{session.user.firstName}}
				{{session.user.lastName}}</h1>

			<div class="actions">
				{% if actionType == 'creator' %}
					<div class="dropdown">
						<button class="btn btn-warning waves-effect waves-light fs-5 dropdown-toggle" data-bs-toggle="dropdown">
							<span class="btn-label">
								<i class="fas fa-edit fs-6"></i>
							</span>
							Gérer
						</button>
						<div class="dropdown-menu" data-popper-placement="bottom-start">
							<button class="dropdown-item modify-session-btn" data-bs-toggle="modal" data-bs-target="#session-form-modal" data-session-id="{{session.id}}" data-session-id="{{session.id}}">Modifier</button>
							<button class="dropdown-item delete-session-btn" data-bs-toggle="modal" data-bs-target="#confirm-delete-modal" data-session-id="{{session.id}}">Supprimer</button>
						</div>
					</div>

				{% elseif actionType == 'baught' %}
					<button data-session-id="{{session.id}}" class="btn btn-success waves-effect waves-light fs-5" disabled>
						<span class="btn-label">
							<i class="fas fa-shopping-cart fs-6"></i>
						</span>
						Achetée
					</button>

				{% else %}
					<button data-session-id="{{session.id}}" class="participate-action btn btn-primary waves-effect waves-light fs-5">
						<span class="btn-label">
							<i class="fas fa-shopping-cart fs-6"></i>
						</span>
						Participer
					</button>
				{% endif %}
			</div>
		</div>

		<div class="content">
			<div>
				<span>Cours :</span>
				{{session.course.name}}</div>

			<div>
				<span>Horaire :</span>
				{{session.date|date('Y - m - d')}}
				|
				{{session.startTime|date('H:i')}}
				-
				{{session.endTime|date('H:i')}}</div>

			<div>
				<span>Prix :</span>
				{{session.price}}
				DT</div>

			<div>
				<span>Nombre de participants :</span>
				{{session.places}}
				{% if session.maxPlaces is not null %}
					/
					{{session.maxPlaces}}
				{% endif %}
			</div>

			<div>
				<span>Description :</span>
				<br>
				{{session.topics}}</div>

			<div>
				<span>Resources :</span>
				<br>
				<button data-session-id="{{session.id}}" class="download-action btn btn-outline-primary waves-effect waves-light fs-5 mt-2 {{actionType == 'participate' ? 'disabled' : ''}}">
					<span class="btn-label">
						<i class="fas fa-file-download fs-6"></i>
					</span>
					Tout Télécharger
				</button>

				<a href="" class="d-none download-anchor" download>
					test</a>

				<div class="resources-container">
					{% for resource in session.resources %}
						<div class="resource-wrapper">
							<input class="resource" {{actionType == 'participate' ? 'disabled' : ''}} type="file" class="dropify" data-show-remove="false" data-default-file="{{asset(resource.filePath)}}" data-file-name="{{resource.name}}"/>


						</div>
					{% endfor %}
				</div>
			</div>


		</div>

	</div>


{% endblock %}
