{% extends 'layouts//admin.html.twig' %}
{% block stylesheets %}

	<!-- App favicon -->
	<link
	rel="shortcut icon" href="{{asset('images/favicon.ico')}}">

	<!-- App css -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css" integrity="sha512-LTumAojugr1KghbrzATeCmuR2d/w0MjXeeoHjM8iijp3q1g7zRuZ+Ww5ZSGVc+3k5/Kf4Xbgzwtr4yakBthU6Q==" crossorigin="anonymous"/>

	<link href="{{asset('templateAssets/css/bootstrap.min.css')}}" rel="stylesheet" type="text/css" id="bs-default-stylesheet"/>
	<link href="{{asset('templateAssets/css/app.min.css')}}" rel="stylesheet" type="text/css" id="app-default-stylesheet"/>

	<link href="{{asset('templateAssets/css/bootstrap-dark.min.css')}}" rel="stylesheet" type="text/css" id="bs-dark-stylesheet" disabled="disabled"/>
	<link
	href="{{asset('templateAssets/css/app-dark.min.css')}}" rel="stylesheet" type="text/css" id="app-dark-stylesheet"/>

	<!-- icons -->


	<link href="{{asset('templateAssets/css/icons.min.css')}}" rel="stylesheet" type="text/css"/>

{% endblock %}
{% block body %}
	<style>
		.card {
			width: 70%;
			height: 70%;
			margin: 40px 0 0;
		}
	</style>
	<div class="content-page">
		<div
			class="content">

			<!-- Start Content-->
			<div class="container-fluid">


				<div class="h-100 d-flex align-items-center justify-content-center">
					<div class="card">
						<div class="card-body">
							{% block header_title %}
								<h4 class="header-title">Ajouter une question !</h4>
								<br><br>
							{% endblock %}

							{{ form_start(form,{'attr': {'novalidate': 'novalidate'}}) }}
							<!-- element -->
							<div class="row mb-3">
								<label for="inputEmail3" class="col-4 col-form-label">
									{{ form_label(form.questionNumber) }}<span class="text-danger">*</span>
								</label>
								<div class="col-7">
									{{ form_widget(form.questionNumber) }}
									{{ form_errors(form.questionNumber) }}
								</div>
							</div>
							<!-- -->
							<div class="row mb-3">
								<label for="hori-pass1" class="col-4 col-form-label">{{ form_label(form.optiona) }}<span class="text-danger">*</span>
								</label>
								<div class="col-7">
									{{ form_widget(form.optiona) }}
									{{ form_errors(form.optiona) }}
								</div>
							</div>
							<div class="row mb-3">
								<label for="hori-pass2" class="col-4 col-form-label">{{ form_label(form.optionb) }}
									<span class="text-danger">*</span>
								</label>
								<div class="col-7">
									{{ form_widget(form.optionb) }}
									{{ form_errors(form.optionb) }}
								</div>
							</div>
							<div class="row mb-3">
								<label for="inputEmail3" class="col-4 col-form-label">
									{{ form_label(form.optionc) }}<span class="text-danger">*</span>
								</label>
								<div class="col-7">
									{{ form_widget(form.optionc) }}
									{{ form_errors(form.optionc) }}
								</div>
							</div>
							<div class="row mb-3">
								<label for="inputEmail3" class="col-4 col-form-label">
									{{ form_label(form.optiond) }}<span class="text-danger">*</span>
								</label>
								<div class="col-7">
									{{ form_widget(form.optiond) }}
									{{ form_errors(form.optiond) }}
								</div>
							</div>
							<div class="row mb-3">
								<label for="inputEmail3" class="col-4 col-form-label">
									{{ form_label(form.correctOption) }}<span class="text-danger">*</span>
								</label>
								<div class="col-7">
									{{ form_widget(form.correctOption) }}
									{{ form_errors(form.correctOption) }}
								</div>
							</div>
							<div class="row mb-3">
								<label for="inputEmail3" class="col-4 col-form-label">
									{{ form_label(form.question) }}<span class="text-danger">*</span>
								</label>
								<div class="col-7">
									{{ form_widget(form.question) }}
									{{ form_errors(form.question) }}
								</div>
							</div>
							<div class="row mb-3">
								<label for="inputEmail3" class="col-4 col-form-label">
									{{ form_label(form.test) }}<span class="text-danger">*</span>
								</label>
								<div class="col-7">
									{{ form_widget(form.test) }}
									{{ form_errors(form.test) }}
								</div>
							</div>
							<div class="row mb-3">
								<div class="col-8 offset-4">
									{% block btn %}
										<input type="submit" class="btn btn-primary waves-effect waves-light" value="Ajouter">
									{% endblock %}
									<a href="{{path('getTestQuestions')}}">
										<input type="button" class="btn btn-secondary waves-effect" value="Annuler">
									</a>
								</div>
							</div>
							{{ form_end(form) }}
						</div>
					</div>
					<!-- end card -->

				</div>
				<!-- end col -->


			</div>
			<!-- container -->

		</div>
	{% endblock %}
	{% block javascripts %}
		<!-- Vendor js -->
		<script src="{{asset('templateAssets/js/vendor.min.js')}}"></script><!-- knob plugin --><script src="{{asset('templateAssets/libs/jquery-knob/jquery.knob.min.js')}}"></script><!--Morris Chart--><script src="{{asset('templateAssets/libs/morris.js06/morris.min.js')}}"></script>
		<script src="{{asset('templateAssets/libs/raphael/raphael.min.js')}}"></script><!-- Dashboar init js--><script src="{{asset('templateAssets/js/pages/dashboard.init.js')}}"></script>
		<script src="{{asset('templateAssets/js/app.min.js')}}"></script><!-- App js--><script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.4.0/js/bootstrap.min.js" integrity="sha512-S5e/axilSCdpkNcQK1fN7iX5Zag6nYef6UzP6Rw8ivQzjKdDcsk82srFuyi3m/RnRG6Fj+6efKVU6PwU0arW2A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	{% endblock %}
