{% extends 'layouts/user.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block main %}
<section class="container my-3">
    <div class="row">
        <div class="card">
            <div class="card-body p-4">

                <div class="text-center mb-4">
                    <h4 class="text-uppercase mt-0">Se Connecter</h4>
                </div>
                <form method="post">
                    {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    {% if app.user %}
                    <div class="mb-3">
                        You are logged in as {{ app.user.userIdentifier }}, <a
                            href="{{ path('app_logout') }}">Logout</a>
                    </div>
                    {% endif %}


                    <label for="inputEmail">Email</label>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control"
                        autocomplete="email" required autofocus>
                    <label for="inputPassword">Password</label>
                    <input type="password" name="password" id="inputPassword" class="form-control"
                        autocomplete="current-password" required>

                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">


                    <br><br>
                    <div class="mb-3 text-center d-grid">
                        <button type="submit" class="btn btn-danger">Connexion</button>

                    </div>

                    <div class="row mt-3">
                        <div class="col-12 text-center">
                            <p> <a href="{{ path('forgotten_password') }}" class="text-muted ms-1">Mot de passe oublié
                                    ?</a>
                            </p>
                            <p class="text-muted">Don't have an account? <a href="{{ path('app_register') }}"
                                    class="text-dark ms-1"><b>S'inscrire</b></a></p>
                        </div> <!-- end col -->
                    </div>
                </form>

            </div>
        </div>
    </div>
</section>
{% endblock %}