{% extends 'layouts/user.html.twig' %}

{% block title %}Réinitialisation de mot de passe{% endblock %}

{% block main %}
{# <section class="container my-3">
    <div class="row">
        <div class="col">
            <h1>Réinitialisation de mot de passe</h1>
            {{ form_start(passForm) }}
            {{ form_row(passForm.password) }}
            <button type="submit" class="btn btn-primary">Envoyer</button>
            {{ form_end(passForm) }}
        </div>
    </div>
</section> #}

<body class="loading authentication-bg authentication-bg-pattern">

    <div class="account-pages mt-5 mb-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-6 col-xl-4">

                    <div class="card">

                        <div class="card-body p-4">

                            <div class="text-center mb-4">
                                <h4 class="text-uppercase mt-0 mb-3">Nouveau mot de passe</h4>
                                <p class="text-muted mb-0 font-13">{{ form_start(passForm) }} </p>
                            </div>


                            <div class="mb-3">
                                {{ form_row(passForm.password) }}
                            </div>
                            <div class="mb-3 text-center d-grid">
                                <button type="submit" class="btn btn-danger">Envoyer</button>
                                {{ form_end(passForm) }}
                            </div>

                        </div> <!-- end card-body -->
                    </div>
                    <!-- end card -->

                    <div class="row mt-3">
                        <div class="col-12 text-center">
                            <p class="text-muted">Back to <a href="{{ path('app_login') }}"
                                    class="text-dark ml-1"><b>Log
                                        in</b></a></p>
                        </div> <!-- end col -->
                    </div>
                    <!-- end row -->

                </div> <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </div>
    <!-- end page -->

</body>
{% endblock %}