{% extends 'layouts/user.html.twig' %}

{% block body %}

{# 
{{ form_start(form, {'attr': {'method': 'POST', 'action': '/login'}}) }}
<div class="form-group">
    {{ form_label(form.email, 'Email address') }}
    {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
</div>

<div class="form-group">
    {{ form_label(form.password, 'Password') }}
    {{ form_widget(form.password, {'attr': {'class': 'form-control'}}) }}
</div>

{{ form_widget(form.submit, {'attr': {'class': 'btn btn-primary'}}) }}
{{ form_end(form) }} #}


<body class="loading authentication-bg authentication-bg-pattern">

    <div class="account-pages my-5">
        <div class="container">

            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-6 col-xl-4">
                    <div class="text-center">
                        <a href="index.html">
                            <img src="{{asset('templateAssets/images/logo-dark.png')}}" alt="" height="22"
                                class="mx-auto">
                        </a>
                        <p class="text-muted mt-2 mb-4">Responsive Admin Dashboard</p>

                    </div>
                    <div class="card">
                        <div class="card-body p-4">

                            <div class="text-center mb-4">
                                <h4 class="text-uppercase mt-0">Sign In</h4>
                            </div>

                            {{ form_start(form, {'attr': {'method': 'POST', 'action': '/login'}}) }}
                            {{ form_label(form.email, 'Email address') }}
                            {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                            {{ form_label(form.password, 'Password') }}
                            {{ form_widget(form.password, {'attr': {'class': 'form-control'}}) }}
                            {{ form_row(form.submit, { 'attr': {'class': 'btn btn-primary'} }) }}
                            {{ form_end(form) }}

                        </div> <!-- end card-body -->
                    </div>
                    <!-- end card -->

                    <div class="row mt-3">
                        <div class="col-12 text-center">
                            <p> <a href="pages-recoverpw.html" class="text-muted ms-1"><i
                                        class="fa fa-lock me-1"></i>Forgot your password?</a></p>
                            <p class="text-muted">Don't have an account? <a href="pages-register.html"
                                    class="text-dark ms-1"><b>Sign Up</b></a></p>
                        </div> <!-- end col -->
                    </div>
                    <!-- end row -->

                </div> <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </div>
    <!-- end page -->

</body>

{% endblock %}