{% extends 'layouts/user.html.twig' %}
{% block title %}Sign Up{% endblock %}

{# {% block body %}
<h1>Sign Up</h1>

{{ form_start(form) }}
{{ form_row(form.firstName) }}
{{ form_row(form.lastName) }}
{{ form_row(form.bio) }}
{{ form_row(form.avatarPath) }}
{{ form_row(form.age) }}
{{ form_row(form.email) }}
{{ form_row(form.password) }}
{{ form_widget(form.submit, {'label': 'Submit'}) }}
{{ form_end(form) }}

{% endblock %} #}

{% block body %}

<body class="loading authentication-bg authentication-bg-pattern">

    <div class="account-pages mt-5 mb-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-6 col-xl-4">
                    <div class="text-center">
                        <a href="index.html">
                            <img src="{{asset('templateAssets/images/logo-dark.png')}}" alt="" height="22"
                                class="mx-auto">
                        </a>
                    </div>
                    <div class="card">

                        <div class="card-body p-4">
                            <header>
                                <div class="text-center mb-4">
                                    <h4 class="text-bold mt-0">Devenir un membre Myalò</h4>
                                </div>
                            </header>
                            {{ form_start(form) }}

                            <div class="mb-3">
                                {{ form_label(form.firstName, 'Prénom') }}
                                {{ form_widget(form.firstName, {'attr': {'class': 'form-control'}})
                                }}
                                <div style="color:brown; font-size: 14px">
                                    {{ form_errors(form.firstName) }}
                                </div>
                            </div>
                            <div class="mb-3">
                                {{ form_label(form.lastName, 'Nom') }}
                                {{ form_widget(form.lastName, {'attr': {'class': 'form-control'}})
                                }}
                                <div style="color:brown; font-size: 14px">
                                    {{ form_errors(form.lastName) }}
                                </div>
                            </div>
                            <div class="mb-3">
                                {{ form_label(form.bio, 'Bio') }}
                                {{ form_widget(form.bio, {'attr': {'class': 'form-control'}})
                                }}
                                <div style="color:brown; font-size: 14px">
                                    {{ form_errors(form.bio) }}
                                </div>
                            </div>
                            <div class="mb-3">
                                {{ form_label(form.avatarPath, 'Choisi une photo de Profil') }}
                                {{ form_widget(form.avatarPath, {'attr': {'class': 'form-control'}})
                                }}
                                <div style="color:brown; font-size: 14px">
                                    {{ form_errors(form.avatarPath) }}
                                </div>
                            </div>
                            <div class="mb-3">
                                {{ form_label(form.age, 'Age') }}
                                {{ form_widget(form.age, {'attr': {'class': 'form-control'}})
                                }}
                                <div style="color:brown; font-size: 14px">
                                    {{ form_errors(form.age) }}
                                </div>
                            </div>
                            <div class="mb-3">
                                {{ form_label(form.email, 'Email') }}
                                {{ form_widget(form.email, {'attr': {'class': 'form-control'}})
                                }}
                                <div style="color:brown; font-size: 14px">
                                    {{ form_errors(form.email) }}
                                </div>
                            </div>
                            <div class="mb-3">
                                {{ form_label(form.password, 'Mot de passe') }}
                                {{ form_widget(form.password, {'attr': {'class': 'form-control'}})
                                }}
                                <div style="color:brown; font-size: 14px">
                                    {{ form_errors(form.password) }}
                                </div>
                            </div>
                            <div class="mb-3 text-center d-grid">
                                {{ form_widget(form.submit, {'label': ' Sign Up', 'attr': {'class': 'btn btn-danger'}})
                                }}
                            </div>

                            {{ form_end(form) }}

                        </div> <!-- end card-body -->
                    </div>
                    <!-- end card -->

                </div> <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </div>
    <!-- end page -->


</body>
{% endblock %}