<div class="display-settings">
	<div class="left">

		<div class="sort-by">
			<label class="me-1" for="sort-by-select">Trier par :</label>
			<select id="sort-by-select" class="form-select me-1">
				<option value="price" {{sortObj.sortBy == 'price' ? 'selected':'' }}>Prix</option>
				<option value="date" {{sortObj.sortBy == 'date' ? 'selected':'' }}>Date</option>
			</select>
		</div>
		<button class="btn btn-outline-primary waves-effect waves-light sort-btn" data-current-direction={{sortObj.sortDirection}}>
			{% if sortObj.sortDirection == 'ASC' %}
				<i class="fas fa-sort-amount-up"></i>
			{% else %}
				<i class="fas fa-sort-amount-down"></i>
			{% endif %}
		</button>

	</div>

	<div class="center">

		<ul class="pagination mx-2">

			<li class="page-item">
				<a class="page-link" href="#" data-page="{{paginationObj.first}}">
					&laquo;
				</a>
			</li>

			{% for page in paginationObj.pages %}
				<li class="page-item">
					<a class="page-link {{page == paginationObj.currentPage ? 'bg-primary text-light' :''}}" href="#" data-page="{{page}}">
						{{page}}</a>
				</li>
			{% endfor %}

			<li class="page-item">
				<a class="page-link" href="#" data-page="{{paginationObj.last}}">
					&raquo;
				</a>
			</li>
		</ul>

	</div>

	<div class="right">

		<div class="show-n me-3">
			<label class="me-1" for="show-n-select">Afficher :</label>
			<select id="show-n-select" class="form-select">
				<option value="10" {{paginationObj.limit == '10' ? 'selected':'' }}>10</option>
				<option value="20" {{paginationObj.limit == '20' ? 'selected':'' }}>20</option>
				<option value="50" {{paginationObj.limit == '50' ? 'selected':'' }}>50</option>
			</select>

		</div>

		{% if not isAdmin %}
			<div>
				<button type="button" class="btn btn-primary waves-effect waves-light grid-view-btn me-1">
					<i class="fas fa-th-large"></i>
				</button>

				<button type="button" class="btn btn-outline-primary waves-effect waves-light list-view-btn">
					<i class="fas fa-th-list"></i>
				</button>
			</div>
		{% endif %}

	</div>
</div>
