{% extends 'test.html.twig' %}

{% block title %}Hello QuestionController!{% endblock %}

{% block body %}


<!-- Begin page -->
    <div class="content-page" >
        <div class="content">

            <!-- Start Content-->
            <div class="container-fluid" > 
                   
           
                    <div class="col-lg-12">
                       
                        <div class="card-body">
                            <div class="row justify-content-between">
                                <div class="col-md-4">
                                    <div class="mt-3 mt-md-0">
                                        <a href="{{ path('addQuestion') }}" class="btn btn-success waves-effect waves-light"><i class="mdi mdi-plus-circle me-1"></i> Ajouter Question</a>

                                    </div>
                                </div><!-- end col-->
                                <div class="col-md-8">
                                    <form action="{{ path('app_search_question') }}" method="get">
                                        <!-- Champ caché pour stocker l'identifiant de matière -->
                                        <input type="hidden" name="subject" value="{{ app.request.query.get('subject') }}">
                                        <div class="input-group">
                                            <input type="text" class="form-control" name="keywords" placeholder="Rechercher...">
                                            <span class="input-group-btn">
                                                <button type="submit" class="btn btn-secondary">Rechercher</button>
                                            </span>
                                        </div>
                                    </form>
                                    <br/>
                                    <div class="d-flex flex-wrap align-items-center justify-content-sm-end">

                                        <form id="sortForm" method="get" action="{{ path('trie')  }}" class="d-flex flex-wrap align-items-center justify-content-sm-end">
                                            <label for="status-select" class="me-2">Trier par</label>
                                            <div class="me-sm-2">
                                                <select name="sortOrder" onchange="document.getElementById('sortForm').submit();" class="form-select my-1 my-md-0" id="status-select">
                                                    <option value="2" {% if sortOrder is defined and sortOrder == 2 %}selected{% endif %}>Tous</option>
                                                    <option value="1" {% if sortOrder is defined and sortOrder == 1 %}selected{% endif %}>Récent</option>
                                                   
                                                    
                                                </select>
                                            </div>
                                          
                                        </form>
                                      
                                   
                                        <form id="sortForm2" method="get" action="{{ path('filter') }}" class="d-flex flex-wrap align-items-center justify-content-sm-end">
                                            <label for="status-select2" class="me-2">Filtrer par</label>
                                            <div class="me-sm-2">
                                                <select name="subject" onchange="if(this.value=='Matiere') $('#warning').modal('show'); else document.getElementById('sortForm2').submit();" class="form-select my-1 my-md-0" id="status-select2">
                                                    <option value="">Toutes les matières</option>
                                                    {% for subject in subjects %}
                                                        <option value="{{ subject.id }}">{{ subject.name }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </form>
                                        
                                        
                                      
                                        
                              
                                
                            </div> <!-- end row -->
                        </div>
                        {%for question in pagination %}
                        <div class="card">
                            <div class="bg-picture card-body">
                                <div class="d-flex align-items-top">
                                    <img src="{{question.getUser().getAvatarPath() }}" class="flex-shrink-0 rounded-circle avatar-xl img-thumbnail float-start me-3" alt="profile-image"></img>

                                    <div class="flex-grow-1 overflow-hidden">
                                        <h4 class="m-0">{{ question.getUser().getFirstName() }}</h4>
                                        <p class="text-muted"><i>{{ question.getSubject().getName() }}</i></p>
                                        <div class="card-header">{{ question.getTitle() }}</div>


                                        <ul class="social-list list-inline mt-3 mb-0">
                                           
                                            <li class="list-inline-item">
                                                <a   href="{{ path('question', {'id': question.getId()}) }}" class="social-list-item border-info text-info"><i class="fe-list"></i></a>
                                            </li>
                                           
                                        </ul>
    
                                    </div>

                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                        {%endfor%}
                        {{ knp_pagination_render(pagination) }}
                        
                                
                     
                    
                    </div> <!-- end col -->
                </div>
            

            </div> 

        </div> 


    </div>

    <!-- ============================================================== -->
    <!-- End Page content -->
    <!-- ============================================================== -->


</div>
<!-- END wrapper -->





{% endblock %}